.link{ 
font-size:30px;
font-family:Arial;
color:blue;
margin-left:200px;

}

h1{
text-align:center;
color:blue;
}

h2{

text-align:center;
color:blue;
 }


 section{
 	border:5px solid violet;